@use "variables" as var;

@mixin phone {
    @media (min-width: var.$phone) {
      @content;
    }
}

@mixin tablet {
    @media (min-width: var.$tablet) {
      @content;
    }
}

@mixin desktop {
    @media (min-width: var.$desktop) {
      @content;
    }
}

@mixin desktopXL {
    @media (min-width: var.$desktopXL) {
      @content;
    }
}

@mixin grid ($columns, $gap) {
    display: grid;
    grid-template-columns: repeat($columns, 1fr);
    gap: $gap;
}

@mixin container {
  width: 95%;
  max-width: 120rem;
  margin: 0 auto;
}