@use "./base/variables" as var;
@use "./base/mixins" as mix;

.about-fest {
    @include mix.container;

    @include mix.tablet {
        @include mix.grid(2);
    }
}

.fest-content {
    display: inline-block;
    h1 {
        margin-bottom: 2rem;
    }
    .date { 
        color: var.$light_green;
        font-weight: 700;
    }
}
