@use "./base/variables" as var;
@use "./base/mixins" as mix;

.about-fest {
    @include mix.container;

    @include mix.tablet {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 5rem;
    }
}

.fest-content {
    margin-top: 5rem;
    h1 {
        margin-bottom: 2rem;
    }
    .date { 
        color: var.$light_green;
        font-weight: 700;
    }
}
