@use "base/variableS" as var;
@use "base/mixins" as mix;

.gallery {
    @include mix.container;
   &-img {
    @include mix.grid(1, 2rem);

    @include mix.phone {
        @include mix.grid(2, 2rem);
    }
    @include mix.tablet {
        @include mix.grid(3, 2rem);
    }
    @include mix.desktop {
        @include mix.grid (4, 2rem);
    }

    img {
        height: 20rem;
        object-fit: cover;
    }
   }
}


.modal {
    display: grid;
    position: fixed;
    place-items: center;
    inset: 0;
    background-color: rgba(var.$black, 0.5);
    animation: fadeIn ease-in 0.5s;

    &.fade-out {
        animation: fadeOut ease-in 0.5s;
    }
    
    img {
        max-width: 100rem;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        }
}

