@use "./base/variables" as v;

.header {
    background-color: v.$light_green;

    .content-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem;
    }

    h1 {
        color: v.$white;
        margin: 0;
    }
}

.main-navigation {
    display: flex;
    gap: 2rem;
        a {
            color: white;
            font-size: 2.4rem;
            
            &:hover {
                color: v.$yellow;
            }
        }
}