@use "base/variables" as var;
@use "base/mixins" as mix;


.lineup {
    background-color: var.$pink;
    h3, 
    .day {
        text-align: center;
        color: var.$white
    }
    .day {
        font-size: 3rem;
        font-weight: 900;
        text-align: center;
        text-transform: uppercase;
        color: var.$white
    }
}

.container-stage {
    @include mix.container;
    @include mix.tablet {
        @include mix.grid(2);
    }
}

.stage {
    padding-top: 2rem;
}

.name-stage {
    text-align: center;
    font-size: 3rem;
    font-weight: 900;
    text-transform: uppercase;
}

.schedule {
    @include mix.list;

    li {
        padding: 2.5rem;
        font-weight: 700;
    }

    span {
        font-weight: 400;
    }
}


.bg-yellow {
    background-color: var.$yellow;
    li:nth-child(odd) {
        background-color: lighten(var.$yellow, 5%);
    }
}

.bg-lightgreen {
    background-color: var.$light_green;
    li:nth-child(odd) {
        background-color: lighten(var.$light_green, 5%);
    }
}